apipkg==1.5
appdirs==1.4.4
atomicwrites==1.4.0
attrs==19.3.0
certifi==2022.12.7
click==7.1.2
colorama==0.4.3
contextlib2==0.6.0.post1
distlib==0.3.0
execnet==1.7.1
filelock==3.0.12
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mock==4.0.2
more-itertools==8.3.0
packaging==20.4
path==13.1.0
path.py==12.4.0
pipenv==2020.6.2
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.7
pytest==5.4.3
pytest-fixture-config==1.7.0
pytest-shutil==1.7.0
pytest-virtualenv==1.7.0
six==1.15.0
termcolor==1.1.0
virtualenv==20.0.21
virtualenv-clone==0.5.4
wcwidth==0.2.4
Werkzeug==1.0.1
